

button
    background-color: transparent
    border: 2px solid $fg-color
    border-left: 8px solid $fg-color
    color: $fg-color
    font-family: $font-title
    font-size: $font-size-xl
    letter-spacing: 2px
    padding: $gap-small $gap-small * 2

button.key.info

    border: 0
    padding: 0
    font-family: $font-text
    letter-spacing: 1px
    font-size: $font-size-xxl

    kbd
        background-color: $button-secondary-color
        display: inline-block
        text-align: center
        padding: $gap-small
        border-radius: 50%
        width: $font-size-xxl
        height: $font-size-xxl
        font-family: $font-title
        margin-right: $gap-small
        color: $bg-color

        span
            padding-left: 2px

    &.primary
        kbd
            background-color: $button-primary-color
            color: $bg-color

button.chevron
    background-color: transparent
    border: 0
    color: $fg-color
    font-family: $font-title
    font-size: $font-size-xxxl * 2