

button
    background-color: transparent
    border: 2px solid $fg-color
    border-left: 8px solid $fg-color
    color: $fg-color
    font-family: $font-title
    font-size: $font-size-xl
    letter-spacing: 2px
    padding: $gap-small $gap-small * 2

button.key.info

    border: 0
    padding: 0
    font-family: $font-text
    letter-spacing: 1px
    font-size: $font-size-xxl

    kbd
        background-color: $button-secondary-color
        display: inline-block
        text-align: center
        padding: $gap-small
        border-radius: 50%
        width: $font-size-xxl
        height: $font-size-xxl
        font-family: $font-title
        margin-right: $gap-small
        color: $bg-color

        &.pressed
            
            position: relative
            transition: 0.1s

            &::before
                display: block
                position: absolute
                transform: translate(-50%, -50%)
                top: 50%
                left: 50%
                border-radius: 50%
                animation: expand 0.5s forwards
                background-color: transparent
                border: 8px solid $fg-color
                content: " "

        span
            padding-left: 2px

    &.primary
        kbd
            background-color: $button-primary-color
            color: $bg-color

@keyframes expand
    0%
        height: 0px
        width: 0px
        opacity: 1.0
        border-width: 20px

    100%
        height: 200%
        width: 200%
        border-width: 0px

button.chevron
    background-color: transparent
    border: 0
    color: $fg-color
    font-family: $font-title
    font-size: $font-size-xxxl * 2