

.version-info
    font-family: $font-text
    font-size: $font-size-l
    letter-spacing: 1px

    position: absolute
    bottom: 0
    margin: $gap-xl
    display: none
    
    span
        color: $highlight-color