
@font-face {
  font-family: 'Upheaval';
  src: url('UpheavalTT-BRK-.eot?#iefix') format('embedded-opentype'),  url('UpheavalTT-BRK-.woff') format('woff'), url('UpheavalTT-BRK-.ttf')  format('truetype'), url('UpheavalTT-BRK-.svg#UpheavalTT-BRK-') format('svg');
  font-weight: normal;
  font-style: normal;
}
