//Import common styles
@import 'common/reset'
@import 'common/fonts'
@import 'common/screen'
@import 'common/buttons'
@import 'common/debug'


//Then import each screen
@import 'start-screen'
@import 'menu-screen'
@import 'games-screen'
@import 'credits-screen'
@import 'about-screen'

body
    background-color: $bg-color
    color: $fg-color
    overflow: hidden

h1, h2, h3
    font-family: $font-title

h1
    letter-spacing: 3px
    font-size: 72pt
    font-weight: 100


video
    width: 100vw
    height: 100vh
    filter: contrast(50%)