
@font-face {
  font-family: 'Pocket';
  src: url('Pocket.eot?#iefix') format('embedded-opentype'),  url('Pocket.woff') format('woff'), url('Pocket.ttf')  format('truetype'), url('Pocket.svg#Pocket') format('svg');
  font-weight: normal;
  font-style: normal;
}
